<div id="content">

  <div class="row">
    <sa-big-breadcrumbs [items]="['PROFESOR', 'Mis Cursos']" icon="home"
    class="col-xs-12 col-sm-7 col-md-7 col-lg-4" ></sa-big-breadcrumbs>
    <sa-stats></sa-stats>

  </div>

  <sa-widgets-grid>

    <div class="row">
        <div class="col-sm-12">
            <div  class="well">

                <h1>Aplicacion de consulta de cursos y registro de horas</h1>
                <p>Aca podra consultar sus cursos y registrar las horas reportadas.</p>
            </div>
        </div>
    </div>
  </sa-widgets-grid>
</div>
