<!-- MAIN CONTENT -->
<div id="content">

  <div class="row">
    <sa-big-breadcrumbs [items]="['Table', 'Cursos Activos']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <sa-stats></sa-stats>
  </div>
  <!-- widget grid -->
  <sa-widgets-grid>

    <div class="row">
        <div class="col-sm-12">
            <div  class="well">

                <h1>Aca se mostraran todos los cursos dictados por el profesor</h1>
                <p>Sitio en construccion!!.</p>
            </div>
        </div>
    </div>

  </sa-widgets-grid>
</div>
